[submodule "themes/landscape-plus"]
	path = themes/landscape-plus
	url = https://github.com/lonelam/landscape-plus.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next.git
