[submodule "themes/landscape-plus"]
	path = themes/landscape-plus
	url = https://github.com/lonelam/landscape-plus.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/ppoffice/hexo-theme-icarus.git
